/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  max-inline-size: 700px;
  margin: 100px auto;
  color: var(--main-color);
  font-family: var(--font-main);
  background: var(--background);
  background-position: center;
  background-size: cover;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  padding: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem) 0;
  border: 2px solid var(--main-color);
  font-family: var(--font-accent);
  background-color: var(--backgroud-color);
}

.header__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.header__title {
  text-transform: uppercase;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__title:focus {
  outline: none;
}

.header__description {
  text-transform: uppercase;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.post {
  border: 2px solid var(--main-color);
  background-color: var(--backgroud-color);
}

.post__title {
  padding: 3px 10px;
  font-size: 18px;
}

.post__cover {
  position: relative;
  border: 2px solid var(--main-color);
}

.post__cover_image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 1 / 1;
}

.post__cover_watermark {
  position: absolute;
  top: 25px;
  right: 25px;
  opacity: 0.5;
  color: var(--main-color);
  font-family: var(--font-accent);
  font-weight: 400;
  font-size: 14px;
  text-shadow: 0px 0px 2px var(--backgroud-color);
}

.post__content {
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding: 25px;
  font-size: 18px;
  line-height: 21px;
}

.post__buttons {
  display: flex;
  justify-content: end;
  gap: 12px;
}

.main__footer {
  display: flex;
  justify-content: center;
}

.card__icon-button {
  position: relative;
  min-height: 38px;
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  z-index: 1;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid black;
}

.card__like-button {
  width: 130px;
  min-height: 38px;
  padding: 9px 17px;
}

.button__container {
  background: var(--backgroud-color);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.main__footer svg {
  width: 21px;
  height: 21px;
  margin: 8px;
}

.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--main-color);
  background: var(--backgroud-color);
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.footer__button {
  min-height: 55px;
}

.button:focus-visible {
  box-shadow: 2px 2px var(--main-color);
  outline: none;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: var(--main-color);
  transition: width 0.5s ease-in-out;
}

.button:hover::before {
  width: 100%;
}

.button__text {
  font-family: var(--font-accent);
  font-weight: 400;
  font-size: 14px;
  line-height: 90%;
  color: var(--button-text-color);
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
  margin: 8px;
}

.button:hover .button__text {
  color: var(--backgroud-color);
}

.button svg {
  transition: color 0.5s ease-in-out;
}

.button:hover svg {
  color: var(--backgroud-color);
}

dialog::backdrop {
  opacity: 0.75;
  background: var(--main-color, #000);
}

.dialog {
  width: calc(100vw * (352 / 1440));
  min-width: 341px;
  border: 2px solid var(--main-color);
  padding: 30px;
  background: var(--backgroud-color);
}

.dialog__container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: var(--main-color);
}

.dialog__warning {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-family: var(--font-accent);
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}

.dialog__warning svg {
  width: 50px;
  height: 50px;
}

.dialog__button {
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  min-height: 38px;
  padding: 9px 17px;
}

