/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --font-main: "Inter-Variable", serif;
  --font-accent: "PressStart2P", fantasy;
  --main-color: #000;
  --backgroud-color: #fff;
  --button-text-color: #fff;
  --animation-color: #ff0000;
  --font-weight-title: 700;
  --font-weight-content: 400;
  --background: 
    repeating-linear-gradient(90deg, #d3d3d3 0px 2px, rgba(0, 0, 0, 0) 2px 4px), 
    repeating-linear-gradient(180deg, #d3d3d3 0px 2px, rgba(0, 0, 0, 0) 2px 4px), 
    linear-gradient(180deg, #e7e7e7 0%, #1a1a1a 100%);
}

@media (width <= 375px) {
  .page {
    width: 100%;
    min-width: 320px;
  }

  .footer__button {
    flex-direction: column;
  }

  .footer__button svg {
    width: 28px;
    height: 28px;
  }

  .dialog {
    padding: 30px 40px;
  }
}
